<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">{{config.CONFIG_DB.brand_name}}</h1>
    <ul class="list-unstyled list-inline lead text-center">
      <li><a href="https://google.com/+PanayiotisLipiridis"><span class="fa fa-fw fa-google-plus"></span></a></li>
      <li><a href="https://github.com/lipis"><span class="fa fa-fw fa-github"></span></a></li>
      <li><a href="https://twitter.com/lipis"><span class="fa fa-fw fa-twitter"></span></a></li>
      <li><a href="https://linkedin.com/in/lipis/"><span class="fa fa-fw fa-linkedin"></span></a></li>
      <li><a href="http://stackoverflow.com/users/8418/lipis"><span class="fa fa-fw fa-stack-overflow"></span></a></li>
      <li><a href="https://facebook.com/lipis"><span class="fa fa-fw fa-facebook"></span></a></li>
      <li><a href="mailto:yo@lip.is"><span class="fa fa-fw fa-envelope-o"></span></a></li>
    </ul>
    <ul class="list-unstyled lead">
      <li><a href="https://developers.google.com/experts/people/panayiotis-lipiridis-lipis"><span class="fa fa-fw fa-google"></span> Google Developer Expert</a></li>
      <li><a href="https://careers.stackoverflow.com/lipis"><span class="fa fa-fw fa-stack-overflow"></span> StackOverflow Careers</a></li>
    </ul>
    <ul class="list-unstyled lead">
      <li><a href="http://www.lessisnotanymore.com"><span class="fa fa-fw fa-building-o"></span> Less is More</a></li>
    </ul>
    <ul class="list-unstyled lead">
      <li><a href="https://gae-init.appspot.com"><span class="fa fa-fw fa-github"></span> gae-init</a></li>
      <li><a href="http://magic.gae-init.appspot.com"><span class="fa fa-fw fa-magic"></span> gae-init-magic</a></li>
      <li><a href="https://lipis.github.io/bootstrap-social"><span class="fa fa-fw fa-github"></span> bootstrap-social</a></li>
      <li><a href="https://lipis.github.io/flag-icon-css"><span class="fa fa-fw fa-github"></span> flag-icon-css</a></li>

    </ul>
  </div>
</div>
