# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <ul class="list-inline lead">
        <li><a href="https://google.com/+PanayiotisLipiridis"><i class="fa fa-fw fa-google-plus"></i></a></li>
        <li><a href="https://twitter.com/lipis"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a href="https://facebook.com/lipis"><i class="fa fa-fw fa-facebook"></i></a></li>
        <li><a href="https://linkedin.com/in/lipis/"><i class="fa fa-fw fa-linkedin"></i></a></li>
        <li><a href="http://stackoverflow.com/users/8418/lipis"><i class="fa fa-fw fa-stack-overflow"></i></a></li>
        <li><a href="https://github.com/lipis"><i class="fa fa-fw fa-github"></i></a></li>
        <li><a href="https://bitbucket.com/lipis"><i class="fa fa-fw fa-bitbucket"></i></a></li>
        <li><a href="mailto:yo@lip.is"><i class="fa fa-fw fa-envelope-o"></i></a></li>
      </ul>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-12 text-center">
      <iframe src="https://docs.google.com/presentation/d/15WFmokn0ZA8G6jrMgu1yQg7bZ50DFDAl8bGqgoFjVBw/preview??hl=en"></iframe>
      <a href="https://docs.google.com/presentation/d/15WFmokn0ZA8G6jrMgu1yQg7bZ50DFDAl8bGqgoFjVBw/preview??hl=en">Direct Link</a>
    </div>
  </div>
# endblock
