# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th colspan="2">For developers</th>
        </tr>
        <tr>
          <td><a href="https://gae-init.appspot.com">gae-init</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://babel.gae-init.appspot.com">gae-init-babel</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://upload.gae-init.appspot.com">gae-init-upload</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://debug.gae-init.appspot.com">gae-init-debug</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://gae-init.appspot.com/signin/">gae-init-auth</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://docs.gae-init.appspot.com">gae-init-docs</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://lipis.github.io/bootstrap-social/">Bootstrap Social</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://lipis.github.io/flag-icon-css/">flag-icon-css</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://github.com/lim/webapp-sceleton">WebApp Sceleton</a></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2">Pet Projects</th>
        </tr>
        <tr>
          <td><a href="http://lim-life-line.appspot.com">Life Line</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://hurry-app.appspot.com">Hurry App</a></td>
          <td>Hurry App is a URL based counter. It is good for launch dates, milestones, birthdays, anniversaries, you name it.</td>
        </tr>
        <tr>
          <td><a href="http://www.thesmallestcreature.com">The smallest Creature</a></td>
          <td>The official web site of the band <strong>The smallest Creature</strong></td>
        </tr>
        <tr>
          <td><a href="http://latest.priventapp.com">Privent</a></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="http://www.lessfolio.com/">Lessfolio</a>:
            <a href="http://www.kiebdoj.com/">Aleksandra</a>,
            <a href="http://mwdao.ksymeon.com/">Kostas</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://code.google.com/p/chess-at-nite/">Chess At Nite</a></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2">For 3rd Paries</th>
        </tr>
        <tr>
          <td><a href="http://www.dodonegone.com">DoDoneGone</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://eyetribe-dev.appspot.com/">The Eye Tribe</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="http://less-enigma.appspot.com">Enigma</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

# endblock
